@model IEnumerable<MFlix.Models.Beans.Movie>

@{
    ViewBag.Title = "Movie";
    Layout = @"~/Views/Shared/_Layout.cshtml";
}

<h1>Movie</h1>

<div>
    @{
        if (!@Model.Any())
        {
            <h4>We don't have any movies!</h4>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Movies</th>
                    </tr>
                </thead>
                <tbody>
                   @{
                       foreach(var movie in @Model)
                       {
                           <tr>
                           <td>@Html.ActionLink(@movie.Name, "Detail", "Movie", new { id = movie.Id }, null)</td>
                           </tr> 
                       }
                    }
                </tbody>
            </table>       
        }
    }
</div>
